target/
*.class
*.jar
.gitignore
.idea/
data/*
!data/gene_list_filter.txt
!data/gene_list_performance.txt
output/
output
src/main/java/blockteil/Test.java
testFiles/
python/venv/
gene_list.txt
python/test.py
tmp/
python/compare_to_mapping/__pycache__/
*.pyc
expData/