target/
data
*.class
*.jar
.gitignore
.idea/
data/
output/
output
src/main/java/blockteil/Test.java
testFiles/
python/venv/
gene_list.txt
python/test.py
tmp/
python/compare_to_mapping/__pycache__/
*.pyc